html, body {
  margin: 0px;
}
.main{
  margin:20px;
}
.banner {
  min-height:200px;
}
.navbar-brand{
  font-size:360%;
  margin:30px;
  text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
}

.navbar-default .navbar-nav > li > a {
  color:#FFF;
}
.navbar-default .navbar-nav > li > a:hover {
  color:#666;
}

.container-fluid.nav-container, .nav > li > a.active, .nav > li > a.active:hover {
  color:#069;
  background: rgba(256,256,256,.3);
}
