{{#nav-bar background=background}}
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}
        {{nav-bar-brand title=brandName color=color}}
      {{/link-to}}
    </div>
  </div>
  <div class="container-fluid nav-container">
    <ul class="nav navbar-nav">
      {{#each item in navItems}}
        <li>
          {{#link-to item}}
            {{item}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
{{/nav-bar}}
