{{#nav-bar}}
  {{#header-background background=background}}
  <div class="container-fluid">
    <div class="navbar-header">
      {{nav-bar-brand title=brandName color=color}}
    </div>
  </div>
  {{/header-background}}
{{/nav-bar}}
